[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/SPIRV-Headers"]
	path = extern/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "extern/SPIRV-Tools"]
	path = extern/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "extern/glslang"]
	path = extern/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/libspng"]
	path = extern/libspng
	url = https://github.com/randy408/libspng.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/pablode/libjpeg-turbo
[submodule "extern/zlib-ng"]
	path = extern/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
[submodule "extern/Imath"]
	path = extern/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath
[submodule "extern/openexr"]
	path = extern/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr
[submodule "extern/MaterialX"]
	path = extern/MaterialX
	url = https://github.com/AcademySoftwareFoundation/MaterialX
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/efsw"]
	path = extern/efsw
	url = https://github.com/SpartanJ/efsw.git
[submodule "extern/SPIRV-Reflect"]
	path = extern/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "extern/doctest"]
	path = extern/doctest
	url = https://github.com/doctest/doctest.git
