[submodule "extern/MaterialX"]
	path = extern/MaterialX
	url = https://github.com/materialx/MaterialX
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/SPIRV-Headers"]
	path = extern/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "extern/SPIRV-Tools"]
	path = extern/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "extern/glslang"]
	path = extern/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "extern/shaderc"]
	path = extern/shaderc
	url = https://github.com/google/shaderc
[submodule "extern/embree"]
	path = extern/embree
	url = https://github.com/embree/embree
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/libspng"]
	path = extern/libspng
	url = https://github.com/randy408/libspng.git
[submodule "extern/SPIRV-Reflect"]
	path = extern/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/pablode/libjpeg-turbo
