name: Build for Houdini 20

on:
  workflow_call:

jobs:
  build:
    name: ${{ matrix.name }}

    strategy:
      matrix:
        include:
        - name: Windows (MSVC)
          image: windows-2022
          mdl-download-url: "https://github.com/NVIDIA/MDL-SDK/releases/download/2024.1.4/MDL-SDK-2024.1.4-381500.6583-nt-x86-64.zip"
          usd-download-url: "https://github.com/pablode/USD/releases/download/houdini20.0-ci-release/USD23.08_Windows_x64.tar.gz"
          usd-install-path: "C:/INSTALL"
          archive-name: gatling_Houdini20_Windows_x64
          cmake-params: -G"Visual Studio 17 2022" -Ax64

    uses: ./.github/workflows/build.yml
    with:
      image: ${{ matrix.image }}
      build-config: Release
      usd-download-url: ${{ matrix.usd-download-url }}
      usd-install-path: ${{ matrix.usd-install-path }}
      upload-install-artifacts: true
      archive-name: ${{ matrix.archive-name }}
      cmake-params: ${{ matrix.cmake-params }} -DPLUGINFO_LIBPATH_PREFIX=../../usd
      houdini-packaging: true
