on:
  workflow_call:
    inputs:
      build-config:
        description: "Name of the CMake build configuration"
        required: false
        type: string
        default: "Release"
      usd-version:
        description: "Name of the USD release, in the form 'XX.XX'"
        required: true
        type: string
      mdl-sdk-cache-key-prefix:
        description: "Prefix of the MDL SDK cache key"
        required: false
        type: string
        default: "MDL-SDK"
      upload-install-artifacts:
        description: "Whether build results should be uploaded or not"
        required: false
        type: boolean
        default: false
      run-graphical-tests:
        required: false
        type: boolean
        default: false
      upload-test-artifacts:
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: ${{ matrix.name }}

    strategy:
      matrix:
        include:
        - name: Ubuntu (GCC)
          image: ubuntu-22.04
          usd-download-url: "https://github.com/pablode/USD/releases/download/v${{ inputs.usd-version }}-ci-release/USD${{ inputs.usd-version }}_Linux_x64.tar.gz"
          usd-install-path: "/home/runner/work/USD/USD/INSTALL"
          upload-install-artifacts: ${{ inputs.upload-install-artifacts }}
          archive-name: gatling_USD${{ inputs.usd-version }}_Linux_x64
          cmake-params:
          run-graphical-tests: ${{ inputs.run-graphical-tests }}
          executable-suffix:

        - name: Ubuntu (clang)
          image: ubuntu-22.04
          usd-download-url: "https://github.com/pablode/USD/releases/download/v${{ inputs.usd-version }}-ci-release/USD${{ inputs.usd-version }}_Linux_x64.tar.gz"
          usd-install-path: "/home/runner/work/USD/USD/INSTALL"
          # Don't upload clang build results -- we already have GCC's
          upload-install-artifacts: false
          cmake-params: -DCMAKE_C_COMPILER=/usr/bin/clang -DCMAKE_CXX_COMPILER=/usr/bin/clang++
          run-graphical-tests: false
          executable-suffix:

        - name: Windows (MSVC)
          image: windows-2019
          usd-download-url: "https://github.com/pablode/USD/releases/download/v${{ inputs.usd-version }}-ci-release/USD${{ inputs.usd-version }}_Windows_x64.tar.gz"
          usd-install-path: "C:/INSTALL"
          upload-install-artifacts: ${{ inputs.upload-install-artifacts }}
          archive-name: gatling_USD${{ inputs.usd-version }}_Windows_x64
          cmake-params: -G"Visual Studio 16 2019" -Ax64
          run-graphical-tests: false
          executable-suffix: '.exe'

    uses: ./.github/workflows/build.yml
    with:
      image: ${{ matrix.image }}
      build-config: ${{ inputs.build-config }}
      usd-download-url: ${{ matrix.usd-download-url }}
      usd-install-path: ${{ matrix.usd-install-path }}
      upload-install-artifacts: ${{ matrix.upload-install-artifacts }}
      archive-name: ${{ matrix.archive-name }}
      mdl-sdk-cache-key: ${{ inputs.mdl-sdk-cache-key-prefix }}_${{ matrix.image }}
      cmake-params: ${{ matrix.cmake-params }}
      run-graphical-tests: ${{ matrix.run-graphical-tests }}
      upload-test-artifacts: ${{ inputs.upload-test-artifacts }}
      executable-suffix: ${{ matrix.executable-suffix }}
