name: Build for Blender 4.3

on:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  build-plugin:
    name: Build gatling

    env:
      archive-name: gatling_Blender4.3_Windows_x64

    # NOTE: make sure to adjust occurrence below
    runs-on: windows-2022

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        show-progress: false

    - name: Make dirs
      run: mkdir -p BUILD INSTALL

    - name: Check out deps
      run: |
        git clone --filter=blob:none --no-checkout --depth 1 --sparse --branch blender-v4.3-release https://projects.blender.org/blender/lib-windows_x64 DEPS
        cd DEPS
        git sparse-checkout init --cone
        git sparse-checkout add boost imath MaterialX opensubdiv python tbb usd
        git checkout

    - name: Apply patches
      run: |
        patch --binary DEPS/usd/pxrConfig.cmake .github/patches/blender43/pxrConfig.cmake.patch
        patch --binary DEPS/usd/cmake/pxrTargets.cmake .github/patches/blender43/pxrTargets.cmake.patch
        patch --binary DEPS/MaterialX/lib/cmake/MaterialX/MaterialXConfig.cmake .github/patches/blender43/MaterialXConfig.cmake.patch
        patch --binary DEPS/opensubdiv/lib/cmake/OpenSubdiv/OpenSubdivTargets.cmake .github/patches/blender43/OpenSubdivTargets.cmake.patch
        patch --binary DEPS/boost/lib/cmake/boost_python-1.82.0/boost_python-config.cmake .github/patches/blender43/boost_python-config.cmake.patch
        cd DEPS/boost/include && ln -s boost boost-1_82

    - name: Fetch FindTBB.cmake
      run: curl https://raw.githubusercontent.com/PixarAnimationStudios/OpenUSD/v23.11/cmake/modules/FindTBB.cmake --output cmake/FindTBB.cmake

    - name: Fetch & unpack MDL SDK binaries
      run: |
        curl "https://github.com/NVIDIA/MDL-SDK/releases/download/2024.1.4/MDL-SDK-2024.1.4-381500.6583-nt-x86-64.zip" -L --progress-bar -o MDL_SDK.zip
        mkdir -p MDL-SDK
        unzip MDL_SDK.zip -d MDL-SDK
        mv MDL-SDK/*/* MDL-SDK/.

    - name: Generate build system files using CMake
      working-directory: BUILD
      run: |
        MaterialX_DIR=../DEPS/MaterialX \
        Imath_DIR=../DEPS/imath \
        OpenSubdiv_DIR=../DEPS/opensubdiv \
        BOOST_ROOT=../DEPS/boost \
        cmake .. \
          -DPython3_ROOT_DIR=../DEPS/python/311 \
          -DPython3_EXECUTABLE="../DEPS/python/311/bin/python.exe" \
          -DPython3_LIBRARY="../DEPS/python/311/libs/python311.lib" \
          -DPXR_CMAKE_DIR=../DEPS/usd \
          -DTBB_ROOT=../DEPS/tbb \
          -DUSD_ROOT=../DEPS/usd \
          -DMDL_ROOT=../MDL-SDK \
          -DCMAKE_INSTALL_PREFIX="$PWD/../INSTALL/render_delegate" \
          -DCMAKE_BUILD_TYPE=Release \
          -DBoost_USE_STATIC_LIBS=OFF \
          -G"Visual Studio 17 2022" \
          -Ax64

    - name: Compile gatling
      working-directory: BUILD
      run: |
        cmake --build . --target hdGatling -j 2 --config Release
        cmake --install . --component hdGatling --config Release

    - name: Copy plugin files
      run: cp -r dist/blender/* INSTALL

    - name: Upload archive
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.archive-name }}
        path: INSTALL/*
        if-no-files-found: error
        retention-days: 7
