name: Deploy Release (Weekly)

on:
  schedule:
    # Run every sunday at 18:00 UTC (8 PM CET)
    - cron: '0 18 * * 0'

jobs:
  deploy-release:
    name: Deploy release
    uses: ./.github/workflows/deploy-release.yml
    with:
      version-name: Weekly
      tag-name: weekly
      release-notes: 'Weekly build of the master branch.'
      publish-prerelease: true
