name: Validation Build

on:
  push:
    branches:
      - 'master'
      - 'dev'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build-2508:
    name: Build for USD v25.08
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 25.08
      run-graphical-tests: true
      upload-test-artifacts: true

  build-2505:
    name: Build for USD v25.05
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 25.05
      run-graphical-tests: true
      upload-test-artifacts: true

  build-2502:
    name: Build for USD v25.02
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 25.02
      upload-test-artifacts: true

  build-2411:
    name: Build for USD v24.11
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 24.11
      upload-test-artifacts: true
